p#pogrubienie_rutkowski
{
font-size: 31px;
color: rgb(131,94,202);
}
p#pochylona_rutkowski
{
font-size: 39pt;
color:rgb(229,194,102);
}
p#index_gorny_rutkowski
{
font-size: 1.4cm;
color:rgb(149,144,22);
}
p#index_dolny_rutkowski
{
font-size: 2.3cm;
color:rgb(49,244,224);
}
p#mono_rutkowski
{
font-size: 44px;
color:rgb(21,224,102);
}
p#powiekszenie_rukowski
{
color:rgb(79,64,152);
}
p#pomniejszenie
{
color:rgb(179,164,52);
}